*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template: 
  "profile navbar navbar"
  "profile main main"
  "profile main main"
  "profile form form"
  "footer footer footer";
  width: 100vw;
}

#profile-container {
  background: black;
  grid-area: profile;
}

#nav-container {
  grid-area: navbar;
}

#main-content {
  grid-area: main;
  background: red;
  height: 20vh;
}

#form-container {
  grid-area: form;
  background: blue;
  height: 10vh;
}

#footer-container {
  grid-area: footer;
  background: gray;
  height: 10vh;
}

.navbar {
  background: rgba(0, 0, 0, 0.468);
  color: white;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-nav li {
  color: white;
}
