/* Main Styling */

.roboto-roboto {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background: black;
}

.container {
  display: grid;
  grid-template: 
  "profile navbar navbar navbar"
  "profile main main main"
  "profile main main main"
  "profile form form form"
  "footer footer footer footer";
  background: black;
  margin: 0 auto;
  padding: 0;
  grid-gap: 0px;
  width: 100%;
}

/* Profile SideBar Styling */

#profile-container {
  grid-area: profile;
  padding: 0;
}

.profile-div {
  width: 320px;
  height: 100%;
  margin-right: 20px;
  padding: 40px 20px 20px 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: #222;
}

.profile-div img {
  width: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.profile-div h3 {
  font-size: 24px;
}

.profile-div h6 {
  color: #999;
  margin-top: -10px;
}

.profile-description {
  text-align: left;
  font-size: 14px;
  margin-top: 20px;
}

.profile-btn-container {
  text-align: left;
}

button {
  background: #333;
  color: white;
  border: none;
  padding: 7px 14px;
  margin-right: 5px;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background: #222;
}

.fa-heart {
  color: pink;
}

.fa-star {
  color: gold;
}

.fa-star:hover {
  cursor: pointer;
}

.follow-container {
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
}

.profile-info {
  text-align: left;
  font-size: 14px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

a {
  color: white;
}

a:hover {
  color: rgb(204, 199, 199);
}

.highlights {
  text-align: left;
  font-size: 14px;
}

.highlights h6 {
  font-size: 16px;
}

.left {
  text-align: left;
}

#organizations {
  text-align: left;
}

#organizations img {
  width: 30px;
  border-radius: 5px;
  margin: 0 5px 20px 5px;
}

#sponsors {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 250px;
  margin-bottom: 40px;
}

#sponsors img {
  width: 30px;
  margin: 5px;
}

/* Navbar Styling */

#nav-container {
  grid-area: navbar;
  background: black;
  border: 2px solid #999;
  width: 100%;
  max-height: 10vh;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.nav-item {
  margin: 10px;
  background: black;
}

.nav-link {
  background: black;
  color: white;
}

.navbar-nav .nav-link.active {
  color: #999;
}

.nav-link:hover {
  color: #999;
}


/* Main Content */

#main-content {
  grid-area: main;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px auto;
}
  
/* Pinned Repositories Styling */
.pinned-repo-card {
  background: #222;
  color: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.pinned-repo-card-title {
  display: flex;
  align-items: center;
}

.pinned-repo-card-title h4 {
  color: steelblue;
  font-size: 16px;
  margin: 0 10px;
}

.pinned-repo-description {
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  min-height: 150px;
}

.pinned-repo-details {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

.language {
  display: flex;
  align-items: start;
}

.language img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Regular Repositories Styling */
#repo-search {
  min-width: 400px;
}

#render-repo {
  width: 100%;
  margin-top: -30px;
}

.repo-card {
  background: #222;
  color: white;
  padding: 20px;
  margin: 10px 0 20px 0;
  border-radius: 5px;
}


/* Form Styling */

#form-container {
  grid-area: form;
  background: black;
  margin: auto 10px;
}


/* Footer Styling  */

#footer-container {
  grid-area: footer;
  margin: 20px 0 10px 0;
  border: 2px solid #999;
}

/*start of broc's styling*/
/*main content for packages flex*/
#rendPack {
display: flex;
flex-flow: row wrap;
color: white;
gap: 15px;

}
.pack-box-el {
width: 275px;
height: 200px;
border: 1px solid rgb(39, 39, 39);
border-radius: 10px;
padding: 20px;
background-color: #222;
}
.pack-title-el {
display: block;

}
.pack-desc-el {
display: block;

}
.learn-El {
font-weight: lighter;
}
/**/


/*main content for projects flex*/
#pro-search-el {
  margin-top: 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
  display: block;
  border: 1px solid rgb(39, 39, 39);
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  padding-left: 2px;
}

#pro-view-el {
  color: white;
  display: flex;
  flex-direction: column;
  width: 850px;
}
#pro-item-el {
  border: 2px solid black(39, 39, 39);
  height: 100px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #222;
  margin-bottom: 2px;
}
/**/


/*form styling*/
#pro-box-el {
color: white;

}
#form-title-el {
  color: white;
  font-size: 30px;
}
#form-desc-el {
  color: white;
  font-size: 16px;

}
#entry-el {
  color: white;
}
#form-name-el {
  color: white;
  font-size: 16px;
}
#form-entry-name-el {
  color: black;
  background-color: white;
  border-radius: 10px;
  display: block;
  border: 1px solid rgb(39, 39, 39);
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}
#form-pro-desc-el {
  color: white;
  font-size: 16px;
}
#form-entry-desc-el {
  color: black;
  background-color: white;
  border-radius: 10px;
  display: block;
  border: 1px solid rgb(39, 39, 39);
  width: 100%;
  height: 200px;
}

#submit-el {
margin-top: 20px;
}
/* #submit-el {


} */

/**/


/*end of broc's styling*/
#footer-container p {
  text-align: center;
  font-size: 12px;
  color: #999;
}
